$fuente-titulos: 'Roboto',
sans-serif;

/*Colores y textos*/

$color-textos: #333333;
$color-ligth: #c3c3c3;
$color-link: #F68E1E;
$color-white: #ffffff;

/*Formularios*/

$color-valor-input: rgb(84, 84, 84);
$bg-ficha: #e8e8e7;

/*Header*/

$bg-header: #981914;
// Icons
$icon-close: #cb2431;
$icon-open: #28a745;