@import "assets/scss/_mediaqueries.scss";
@import "assets/scss/_variables.scss";
@import "assets/scss/_style.scss";
@import "assets/scss/_buttons.scss";
@import "assets/scss/_forms.scss";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
